Flask==2.2.2
SQLAlchemy==1.4.40
PyQt5==5.15.7
PyQt5-sip==12.11.0
WTForms==3.0.1
Flask-Login==0.6.2
Flask-WTF==1.0.1
PyFladesk==1.1
Flask-SQLAlchemy==2.5.1
Flask-Bcrypt==1.0.1
pytz==2022.2.1
email-validator==1.2.1
Pillow==9.3.0
