<!-- Authors: Saurin Patel, Sagar Patel
Program Name: Utivity Productivity app
Program Description: The main dashboard page of the app
Last Revision Date: 2021 - 1 - 30
ICS 4U1
Mr. Moore -->

{% extends 'base.html' %}

{% block body %}
<div class="dashboard-box-1"><!--div class box 1 = section one which displays the time the user has been productive total-->
    <p class="productive">Lifetime Productivity</p>
    <p class="productive-life">{{ total_productivity_lifetime }}</p>
</div>
<div class="dashboard-box-2"><!--div class box 2 = section one which displays the time the user has been productive today-->
    <p class="productive">Today's Productivity</p>
    <p class="productive-life">{{ total_productivity_today }}</p>
</div>
<div class="dashboard-box-3"><!--div class box 3 = section one which displays the time the user has been productive total in percent-->
    <p class="productive">Today's Productivity (%)</p><!--title of this carousel page-->
    <p class="productive-life">{{ total_productivity_today_perc }}</p>
</div>
<!-- This is the only div that doesn't contain paragraphs. This one contains the utivity word logo, which through using css is aligned in the box and made into a filler box -->
<div class="dashboard-box-4">
    <img src="static/img/fullbanner.png" class="utivity-banner"><!--This displays the utivity banner on top of the neumorphism div to take up some space-->
</div>
<h1 class="pagetitle">Dashboard</h1><!--This displays the title of the dashboard page-->
{% endblock %}
