<!-- Authors: Saurin Patel, Sagar Patel
Program Name: Utivity Productivity app
Program Description: History tab for use of tracking productivity
Last Revision Date: 2021 - 1 - 30
ICS 4U1
Mr. Moore -->

{% extends 'base.html' %}

{% block body %}
<h1 class="pagetitle">History</h1>
<!-- A div (children class) is made in which a table is inserted to allow for better tracking of data collected -->
<div class="container">
    <table class="history-table">
        <thead>
        <!-- In the table there are 3 columns which are all given classes, allowing for css manipulation -->
        <!-- These classes are all dependent on the timer working correctly and sending correct data -->
        <!-- The timer will send the id, start time and end time, which allows for this table to easily be created -->
            <th class = 'id-column-history'; scope="col">ID</th>
            <th class = 'start-time-history'; scope="col">Start Time</th>
            <th class = 'elapsed-time-history'; scope="col">Elapsed Time</th>
        </thead>
        <!-- This part of the code works just like a python file would. It takes into account the number of times that are in a timed data table/database -->
        <!-- For every time that is found, the data is presented in rows in which we've assigned classes so we can manipulate the margins and padding -->
        <!-- When there is data to present it will go down the list of data and output all the elapsed times and dates -->
        <tbody>
            {% for time in times %} <!--For each time in the times table-->
                <tr class="history-data-table">
                    <th scope="row">{{ time.id }}</th><!--Display the id of the time-->
                    <td class = "start-time-column">{{ time.start_time }}</td><!--Display the start time-->
                    <td class = "elapsed-time-column">{{ time.elapsed_time }}</td><!--Display the elapsed time-->
                </tr>
            {% endfor %} <!--End for-->
        </tbody>
    </table>  
</div>
{% endblock %}
