<!-- Authors: Saurin Patel, Sagar Patel
Program Name: Utivity Productivity app
Program Description: The settings page for logout + changing account details
Last Revision Date: 2021 - 1 - 30
ICS 4U1
Mr. Moore -->

{% extends 'base.html' %}

{% block body %}
<!-- First a title to the page is set where it is given a generic css title class -->
<h1 class="pagetitle">Settings</h1><!--This is the settings title-->
<form method="POST" action="" enctype="multipart/form-data"><!--This is the form for the change profile buttons-->
    {{ form.hidden_tag() }}
    <fieldset style="position:absolute;top:100px;"> <!--This is some styling for the field in the form-->
        <div>
            {{ form.picture.label(style="position:absolute;top:260;left:100;") }}<!--This is the picture form-->
            {{ form.picture(style="position:absolute;top:260;left:100;") }}<!--This is the picture f0rk-->
            {% if form.picture.errors %} <!--This is to dectect if there are any errors-->
                {% for error in form.picture.errors %} <!--For every error in the errors-->
                    <span>{{ error }}</span></br> <!--Display the error-->
                {% endfor %} <!--End for-->
            {% endif %}<!--End if-->
        </div>
    </fieldset>
    <div>{{ form.submit(class="settingbutton setting-button") }}</div> <!--This is submit button to submit the updated picture-->
</form>
<a href="logout" class="settingbutton settingbutton2">Log Out</a><!--This is the logout button-->
{% endblock %}
