<!-- Authors: Saurin Patel, Sagar Patel
Program Name: Utivity Productivity app
Program Description: Timer for use in time tracking for productivity
Last Revision Date: 2021 - 1 - 30
ICS 4U1
Mr. Moore -->

{% extends 'base.html' %}

{% block body %}
<h1 class="pagetitle";>Stopwatch</h1> <!--This is the page title for the timer -->
<div class="analog-clock-timer">
    <div>
        <label id="hours">00</label><!--This is label that displays the hours-->
        :
        <label id="minutes">00</label><!--This is label that displays the minutes-->
        :
        <label id="seconds">00</label><!--This is label that displays the seconds-->
    </div>
    <div>
        <!--This is button that starts the stopwatch coutning-->
        <button class="start-time-button" id="start">Start</button>
    </div>
    <form method="POST" action="/timer"><!--This is form that POSTs the timerdata to Flask-->
        <input type="hidden" name="todaydate" id="todaydate"><!--This is hidden form that returns the date-->
        <input type="hidden" name="time" id="time"><!--This is hidden form that returns the elapsedTime-->
        <input class="submit-time-button" type="submit" id="submit" value="Submit"><!--This is submit button-->
    </form>
    <table class="timer-print" id="history"><!--This is history id that displays a preview of the time and date before submitting-->
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<!--===== MAIN JS =====-->
<script src="static/js/main.js"></script>
{% endblock %}
