<!-- Authors: Saurin Patel, Sagar Patel
Program Name: Utivity Productivity app
Program Description: Todo list for implementation of task planner
Last Revision Date: 2021 - 1 - 30
ICS 4U1
Mr. Moore -->
<!DOCTYPE html>
<html lang="en">
    <head> <!--This header section is basic HTML boilerplate code, it references the viewport, scale, and stylesheet-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--CSS Styling -->
        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" href="static/css/styles.css">
    </head>
    <body id="body-pd" style="overflow: visible;"> <!--Overflow visible since we wanted the todo to be scrollable-->
        <header class="header" id="header"> <!--This is the header file which includes the profile picture -->
            <div class="header__img">
                <img src="{{ image_file }}" class="usericonpos" alt=""> <!--This renders the profile picture by requesting it from flask-->
            </div>
        </header>
        <div class="l-navbar" id="nav-bar"> <!--This div is the navigation bar -->
            <nav class="nav"> 
                <div>
                    <a href="dashboard" class="nav__logo"> <!--This is the dashboard link-->
                        <img src="static/img/utivity.png" height="28"> <!--This is the utivity icon-->
                    </a>
                    <div class="nav__list">
                        <a href="dashboard" class="nav__link"> <!--This is the dashboard link-->
                            <img src="static/img/home.png" width="24" height="24"><!--This is the home icon-->
                        </a>

                        <a href="timer" class="nav__link"><!--This is the timer link-->
                            <img src="static/img/clock.png" width="24" height="24"><!--This is the clock icon-->
                        </a>
                        
                        <a href="history" class="nav__link"><!--This is the history link-->
                            <img src="static/img/database.png" width="24" height="24"><!--This is the history icon-->
                        </a>

                        <a href="todo" class="nav__link"><!--This is the todo link-->
                            <img src="static/img/check-square.png" width="24" height="24"><!--This is the todo icon-->
                        </a>

                        <a href="settings" class="nav__link"><!--This is the settings link-->
                            <img src="static/img/settings.png" width="24" height="24"><!--This is the settings icon-->
                        </a>

                        <a href="help" class="nav__link"><!--This is the help link-->
                            <img src="static/img/help-circle.png" width="24" height="24"><!--This is the helppage icon-->
                        </a>
                    </div>
                </div>
                <a href="logout" class="nav__link"><!--This is the logout link-->
                    <img src="static/img/log-out.png" width="24" height="24"><!--This is the logout icon-->
                </a>
            </nav>
        </div>
        <h1 class="pagetitle">To Do</h1><!--This is the todo title-->
        <form method="POST" action="/create_task"> <!--This is the form for entering a todolist task-->
            <table>
                <tr>
                    <td>
                        <!--This is the input for the task if the user wants to create a new task-->
                        <input class = 'task-input-box'; name="task_field" type="TEXT" width="100">
                    </td>
                    <td>
                        <!--This is the submit button for the user to submit their task to the flask file-->
                        <input class = 'task-submit-box'; value="Create Task" type="SUBMIT">
                    </td>
                </tr>
            </table>
            </form>
            {% if tasks %} <!--If the user has one or more tasksk-->
                <table  class="task-table"> <!--Create a table for the tasks-->
                {% for task in tasks %} <!--For every tasks in the tasks database-->
                        <tr>
                            <td>
                                {{ task.create_time }} 
                            </td>
                            <td>
                                <!--This is the form if the user wants to edit the task-->
                                <form action="/edit_task/{{ task.id }}" method="POST"> 
                                    <input class="update-task-input" name="task_field" type="text" value="{{ task.task }}"><!--This is where the user can edit the original task-->
                                    <input class="edit-button-todo" type="submit" value="Edit"><!--This is the update button to submit the edit -->
                                </form>
                            </td>
                            <td>
                                <form action="/remove_task/{{ task.id }}" method="POST"><!--This is the form where the user can delete a task -->
                                    <input class="delete-button-todo" type="submit" value="Delete"><!--This is the delete button which removes the task from the database-->
                                </form>
                            </td>
                        </tr>
                {% endfor %} <!--Endfor-->
                </table>
            {% else %} <!--else-->
                <p class="no-tasks">No Tasks...Consider adding some!</p><!--This is a message if user has no tasks-->
            {% endif %}
    </body> <!--End body-->
</html>