<!-- Authors: Saurin Patel, Sagar Patel
Program Name: Utivity Productivity app
Program Description: Todo list for implementation of task planner
Last Revision Date: 2021 - 1 - 30
ICS 4U1
Mr. Moore -->

{% extends 'base.html' %}

{% block body %}
<h1 class="pagetitle">To Do</h1><!--This is the todo title-->
<form method="POST" action="/create_task"> <!--This is the form for entering a todolist task-->
    <table>
        <tr>
            <td>
                <!--This is the input for the task if the user wants to create a new task-->
                <input class = 'task-input-box'; name="task_field" type="TEXT" width="100">
            </td>
            <td>
                <!--This is the submit button for the user to submit their task to the flask file-->
                <input class = 'task-submit-box'; value="Create Task" type="SUBMIT">
            </td>
        </tr>
    </table>
</form>
{% if tasks %} <!--If the user has one or more tasksk-->
    <table  class="task-table"> <!--Create a table for the tasks-->
    {% for task in tasks %} <!--For every tasks in the tasks database-->
            <tr>
                <td>
                    {{ task.create_time }} 
                </td>
                <td>
                    <!--This is the form if the user wants to edit the task-->
                    <form action="/edit_task/{{ task.id }}" method="POST"> 
                        <input class="update-task-input" name="task_field" type="text" value="{{ task.task }}"><!--This is where the user can edit the original task-->
                        <input class="edit-button-todo" type="submit" value="Edit"><!--This is the update button to submit the edit -->
                    </form>
                </td>
                <td>
                    <form action="/remove_task/{{ task.id }}" method="POST"><!--This is the form where the user can delete a task -->
                        <input class="delete-button-todo" type="submit" value="Delete"><!--This is the delete button which removes the task from the database-->
                    </form>
                </td>
            </tr>
    {% endfor %} <!--Endfor-->
    </table>
{% else %} <!--else-->
    <p class="no-tasks">No Tasks...Consider adding some!</p><!--This is a message if user has no tasks-->
{% endif %}
{% endblock %}
